mat-progress-spinner{
    position:relative;
    margin:auto;
    padding-top:20px;
    padding-bottom:20px;
}

tr.detail-row {
  height: 0;
}

.expanded {
   
  animation-name: expand;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  overflow:hidden;
}

.collapsed {
  animation-name: shrink;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.collapsed::content{
    display:none;
}

@keyframes expand{
    0% { height: 0!important; font-size:0px;}
    100% { height: auto;font-size:14px; }
}

@keyframes shrink{
    0% { height: auto;font-size:14px;}
    100% { height: 0!important;font-size:0px; }
}

.full-panel-width{
    width:450px;
}

