html, body{
    width:100%;
    height:100%;
    margin:0;
}

.imageWrapper {
  height: 100%;
  width: 0%;
  background-color: #3F51B5;
  animation-name: slideRight;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier();
  position: absolute;
  padding: 20px;
  display: inline-block;
}

.headerLogin{
    font-weight:700;
    font-family:sans-serif;
    font-size:24px;
    text-align:center;
}

.formWrapper {
  width: 70%;
  background-color: white;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 50px;
}

.form {
  opacity: 0;
  animation-name: fadeAndToggle;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier();
  animation-delay: 600ms;
  margin: auto;
  text-align: center;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

button{
    color:white;
    font-size:15px;
    padding:15px;
}

.image {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier();
  animation-delay: 300ms;
  margin: auto;
  text-align: center;
  max-width: 200px;
  width:80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.image p{
    font-family:sans-serif;
    font-size:24px;
    color:white;
    letter-spacing: 0;
}

@keyframes slideRight {
  from {width: 0%;}
    to { width: 30%;}
}

@keyframes fadeIn{
    from { opacity: 0}
    to { opacity: 1}
}

@keyframes fadeAndToggle{
    from {opacity:0;top:0;}
    to { opacity: 1;top:50%}
}
