.side-container {
  width: 100%;
  margin: 0px;
  border:none;
}

mat-drawer-container {
  flex: 1 1 auto;
}

mat-drawer-content {
  width:calc(100% - 96px);
  height:100%;
  padding:20px;
  
}

mat-drawer{
   padding:20px;
   background-color:white;
}

.sideNavButton{
    border-left:5px solid transparent;
    transition:0.3s all ease;
}

.activatedButton {
  border-left: 5px solid #3f51b5!important;
  transition:0.3s all ease;
}
