.projectHeader {
  padding:20px;
  width:100%;
  position:relative;
  overflow:hidden;
  height:350px;
  background:url("../../../assets/Header.svg") no-repeat right;
}

#headerText{
    text-align:left;
    position:absolute;
    padding:20px;
    bottom:0;
    left:0;
}

#headerText p{
    font-size:20px;
}

#headerText h3{
    font-size:30px;
}
